
.app{

border-style: none;
border-color: red;
height:98vh;
overflow-y: scroll;
}


.header{
border-style:none ;
border-color: green;
border-width: 1px;
height:70px;
background-color: lightgrey;
display:flex;
justify-content: center;
}


.body{

border-style: none;
height: 1400px;
background-color: white;

}

.homePageButton{
border-style: none;
margin-left: 20px;
display: flex;
flex-direction: column;
justify-content: center;
}

.aboutPageButton{
border-style: none;
margin-left: 20px;
display: flex;
flex-direction: column;
justify-content: center;
}

.teamPageButton{
border-style: none;
margin-left: 20px;
display: flex;
flex-direction: column;
justify-content: center;
}


.careerPageButton{
border-style: none;
margin-left: 20px;
display: flex;
flex-direction: column;
justify-content: center;
}

.producMenuButton{
border-style: none;
margin-left: 20px;
display: flex;
flex-direction: column;
justify-content: center;

}




.homePage{

font-size: 50px;

}

.aboutPage{
font-size: 50px;
}


.teamPage{

font-size: 20px;
}



.dropDownMenu{
position: absolute;
top: 70px;
border-style: none;
height: 50px;
right: 30%;
background-color: white;
color: #6b6a6a;
border-radius: 4px;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
display: flex;
justify-content:center;
flex-direction: column;
padding: 10px;
}







